<%= form_for @user do |f| %>
  <div class="form-group">
    <%= label_tag(:name, "Name:") %>
    <%= f.text_area :name, class: "form-control"%>
    <%= label_tag(:email, "Email:") %>
    <%= f.text_field :email, class: "form-control" %>
    <%= label_tag(:role, "Allow add/destroy:") %>
    <%= f.check_box :role, class: "form-control" %>
    <%= f.submit "Submit", class: "btn btn-default btn-lg", id: "pattern-create" %>
  </div>
<% end %>
