<p id="notice"><%= notice %></p>
<p id="warn" style="color: red;"><%= warn %></p>

<div class="form-group activity" id="log-patterns">
	<%= form_tag("/users", method: "get") do %>
		<div id="search-input">
		  <%= text_field_tag :search, params[:search], placeholder: 'search', class: "form-control left" %>
		</div>
	  <%= submit_tag "Search", class: "btn btn-default left", id: "search-submit" %>
	<% end %>
</div>

<% if current_user.role == 'admin' %>
	<% if @users.present? %>
	<div id="table">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Email</th>
	        <th>Allow edit/destroy</th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @users.each do |user| %>
	        <tr>
	          <td id="p-name"><%= user.name %></span></td>
	          <td id="p-expression"><%= user.email %></span></td>
	          <td>
	          	<% allow = (user.role == 'admin' ? true : false) %>
	          	<%= check_box_tag 'allow', '1', allow, disabled: true %>
	          </td>
            <td id="edit">
              <%= button_to edit_user_path(user), class: "btn btn-success", :method => :get do %>
                Edit
              <% end %>
            </td>
            <td id="destroy">
              <%= button_to user, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
                Delete
              <% end %>
            </td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
	<% else %>
	  <p>There are no users containing the term(s) <%= params[:search] %>.</p>
	<% end %>
<% end %>