<div id="parts">

<% unless @data.size == 0 %>
	<div id="original">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Text</th>
	        <th>Original</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @data.each do |d| %>
	        <tr>
	          <td id="pat-text"><%= d[:text] %></td>
	          <td id="pat-source"><%= d[:name] %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>

	<div id="new">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>New</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @data.each do |d| %>
	        <tr>
	          <td id="pat-source"><%= text_field_tag :log, d[:name], class: "form-control" %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>

	<div id="divider" style="clear:both;"></div>

	<h3> Events: </h3>

	<div id="events">
		<div id="event-arrow" style="display:none"></div>

	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Classification</th>
	        <th>Tag</th>
	      </tr>
	    </thead>
	    <tbody>
				<tr>
					<td style="color:green">Action</td>
					<td><%= @event_data['action'] || '---' %></td>
				</tr>
				<tr>
					<td style="color:red">Domain</td>
					<td><%= @event_data['domain'] || '---' %></td>
				</tr>
				<tr>
					<td style="color:blue">Status</td>
					<td><%= @event_data['status'] || '---' %></td>
				</tr>
				<tr>
					<td style="color:orange">Object</td>
					<td><%= @event_data['object'] || '---' %></td>
				</tr>
				<tr>
					<td style="color:purple">Service</td>
					<td><%= @event_data['service'] || '---' %></td>
				</tr>
	    </tbody>
	  </table>
	</div>
	<div id="source">
		<% text = (@source != '' ? @source : 'not stated') %>
		Log is from source: <strong><%= text %></strong>
	</div>
<% else %>
	<h2> No log was processed yet, try to analyze some in log management first</h2>
<% end %>


</div>