<div id="warn" style="color:#e36812;"><%= @warning %></div>
<div id="notification" style="color:green;"></div>
<div id="parts">

<% unless @data.size == 0 %>
	<div id="original">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Text</th>
	        <th>Log data</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @data.each do |d| %>
	        <tr>
	          <td id="pat-text"><%= d[:text] %></td>
	          <td id="pat-source"><%= d[:name] %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
	<div class="log-pattern hide"><%= @pattern %></div>

	<div id="new">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Event data</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @data.each do |d| %>
	        <tr>
	          <td id="pat-source"><%= text_field_tag :log, d[:event], class: "form-control" %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>

	<div id="event-options">
    <input type="button" onclick="event_pattern()" class="btn btn-primary btn-lg left" value="Save event data to log pattern"/>

    <%= form_for @pattern, url: '/save', remote: true do |f| %>
    	<div id="search-input">
        <%= f.text_field :tag, placeholder: 'tag', class: "form-control left", id: "output-tag" %>
      </div>
        <%= f.submit "Add tag", class: "btn btn-primary btn-lg left", id: "add-tag" %>
    <% end %>

  </div>

	<div id="divider" style="clear:both;"></div>

	<h3> Events: </h3>

	<div id="events">
		<div id="event-arrow" style="display:none"></div>

	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Classification</th>
	        <th>Tag</th>
	      </tr>
	    </thead>
	    <tbody>
				<tr>
					<td style="color:green">Action</td>
					<td><%= @event_data['action'] || '---' %></td>
				</tr>
				<tr>
					<td style="color:red">Domain</td>
					<td><%= @event_data['domain'] || '---' %></td>
				</tr>
				<tr>
					<td style="color:blue">Status</td>
					<td><%= @event_data['status'] || '---' %></td>
				</tr>
				<tr>
					<td style="color:orange">Object</td>
					<td><%= @event_data['object'] || '---' %></td>
				</tr>
				<tr>
					<td style="color:purple">Service</td>
					<td><%= @event_data['service'] || '---' %></td>
				</tr>
	    </tbody>
	  </table>
	</div>
	<div id="source">
		<% text = ((@source != '' && @source) ? @source : 'not stated') %>
		Log is from source: <strong><%= text %></strong>
	</div>
<% else %>
	<h2> No log was processed yet, try to analyze some in log management first</h2>
<% end %>


</div>