<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Expression</th>
      <th>Blacklist</th>
      <th>Source group</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tokens.each do |item| %>
      <tr>
        <td id="name"><%= item.name %></td>
        <td id="expression"><%= item.expression %></td>
        <td id="blacklist">
          <%= check_box_tag 'blacklisted', '1', item.blacklist, disabled: true %>
        </td>
        <td id="group"><%= item.source_group %></td>
        <td id="edit">
          <%= button_to edit_parser_path(item), class: "btn btn-success", :method => :get do %>
            Edit
          <% end %>
        </td>
        <td id="destroy">
          <%= button_to item, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>