<p id="notice"><%= notice %></p>

<% if @events.present? %>
<div id="blue"></div><p>original</p>
<div id="red"></div><p>user made</p>

<div id="table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Tag</th>
        <th>Clasification</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <% #color = (event.original == true ? 'blue' : 'red') %>
        <tr>
          <% if event.original %>
            <td><div id="blue"></div></td>
          <% else %>
            <td><div id="red"></div></td>
          <% end %>
          <td><%= event.tag %></td>
          <%
          case event.clasification
          when 'action'
            color = 'green'
          when 'domain'
            color = 'red'
          when 'status'
            color = 'blue'
          when 'object'
            color = 'orange'
          when 'service'
            color = 'purple'
          else
            color = 'grey'
          end
          %>
          <td style="color:<%= color %>"><%= event.clasification %></td>
          <td><%= event.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <p>There are no events containing the term(s) <%= params[:search] %>.</p>
<% end %>



