<%= form_for @pattern do |f| %>
	<div class="form-group">
		<%= label_tag(:text, "Pattern:") %>
    <%= f.text_area :text, class: "form-control stretch"%>
    <%= label_tag(:source, "Source:") %>
	  <%= f.text_field :source, class: "form-control" %>
    <%= f.submit "Submit", class: "btn btn-default btn-lg", id: "pattern-create" %>
  </div>
<% end %>
