<!-- <div id="image"></div> -->

<% if current_user %>
<%= render 'search' %>

<div id="parts">		
		<div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Attribute</th>
	        <th>Value</th>
          <th>Regex</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% @log_data.each do |value| %>
		      <tr>
		        <td id="attribute">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" id="expand" value=<%= value[0] %>>
                <div class="input-group-btn">
                  <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Save</a></li>
                  </div>
                </div>
              </div>
            </td>
		        <td id="value"><%= value[1] %></td>
            <td id="regex"><input type="text" class="form-control" id="expand" value=<%= value[3] %> ></td>
		      </tr>
	      <% end %>
	    </tbody>
	  </table>
	  </div>

    <div id="divider"></div>

    <div class="form-group">
      <%= label_tag(:log, "Pattern: order isn't checked yet!!!") %>
      <%= text_field_tag :log, @pattern, class: "form-control"%>
      <%= submit_tag "Export", class: "btn btn-default btn-lg", id: "log-submit"%>
    </div>
</div>

<% else %>

<p> Please log in to continue </p>

<% end %>

