<p id="notice" style="color: green;"></p>
<p id="warn" style="color: red;"></p>

<%= render 'search' %>

<div id="parts">
  <div id="s-arrow"></div>
  <div class="form-group" id="suggestion">
    <label> Suggestions: </label>
    <select class="form-control" id="sug-select">
      <% @suggestions.each do |suggestion| %>
        <option><%= suggestion %></option>
      <% end %>
    </select>
  </div>	

<% if @log_data.size > 1 %>
		<div id="table">
    <div id="divider"></div>
  	  <table class="table analyzer">
  	    <thead>
  	      <tr>
            <th></th>
  	        <th>Attribute</th>
  	        <th>Value</th>
            <th></th>
            <th>Regex</th>
  	      </tr>
  	    </thead>
  	    <tbody>
  	    	<% @log_data.each do |data| %>
  		      <tr class="<%= data[:match][:name]%>">
              <td id="check"><input type="checkbox" class="group" name="newsletter" value="<%= data[:match][:matched_text][0] %>"/></td>
              <td id="attribute">
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="Text input with dropdown button" id="expand" value=<%= data[:match][:name] %>>
                  <div class="input-group-btn">
                    <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
                      <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a href="" data-toggle="modal" data-target="#approvalModal">
                          Create parser
                        </a>
                      </li>
                      <li>
                        <a href="" class="submit-btn">
                          Split expression
                        </a>
                      </li>
                    </div>
                  </div>
                </div>
              </td>
              <td id="value">
                <%= data[:match][:matched_text][0] %>
              </td>
              <td id="arrow">
                <% if data[:match][:sub].size != 0 %>
                  <div class="arrow-down"></div>
                <% end %>
              </td>
              <% unless data[:pattern] == '' %>
                <td id="regex"><textarea class="form-control" id="text-regex" readonly> <% @grok.compile(data[:pattern]) %><%=  @grok.expanded_pattern %> </textarea></td>
              <% else %>
                <td id="regex"><textarea class="form-control" id="text-regex" readonly> No regular expression available </textarea></td>
              <% end %>
            </tr>
            <% if data[:match][:sub].size != 0 %>
              <tr class="<%= data[:match][:name] %>" style="display:none" >
                <td></td>
                <td colspan='4'>
                  <table class="sub-table table-striped">
                    <tbody>
                        <%= render :partial => 'element', locals: { data: data[:match][:sub] } %>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% end %>
  	      <% end %>
  	    </tbody>
  	  </table>
	  </div>

    <div id="divider"></div>

    <div id="options">
      <input type="button" onclick="group()" class="btn btn-default btn-lg group" value="group elements"/>
      <input type="button" onclick="pat()" class="btn btn-default btn-lg pattern" value="create pattern"/>

      <div id="g-arrow" style="display:none;"></div>
      <div id="p-arrow" style="display:none"></div>
    </div>

    <%= form_for @pattern, url: '/save', remote: true do |f| %>
      <div class="form-group output-pattern">
        <div id="pattern-text">
          <%= f.label(:text, "Pattern:") %>
          <%= f.text_field :text, class: "form-control"%>
        </div>
        <div id="pattern-source">
          <%= f.label(:source, "Source:") %>
          <%= f.text_field :source, class: "form-control"%>
        </div>
        <%= text_field_tag :log, @log_text, :class => "hide" %>
        <%= f.submit "Save", class: "btn btn-default btn-lg", id: "log-submit"%>
      </div>
    <% end %>

</div>
<% else %>
<div id="divider"></div>
<h2> Log was matched to pattern: </h2>
  <div id="table">
    <table class="table">
      <thead>
        <tr>
          <th>Pattern</th>
          <th>Source</th>
          <th>Log samples</th>
        </tr>
      </thead>
      <tbody>
          <tr style="background-color:#b2e8ae">
            <td id="pat-text"><%= @pattern.text %></span></td>
            <td id="pat-source"><%= @pattern.source %></span></td>
            <td id="pat-logs">
              <select class="form-control">
              <% @pattern.logs.each do |log| %>
                <option><%= log.text %></option>
              <% end %> 
              </select>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
<% end %> <!-- end of if size > 1 -->



<!-- MODAL FOR NEW PARSER -->
<div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New parser</h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/form', method: :post, remote: true do %>
              <%= label_tag :name, 'Name', :class => 'control-label' %>
              <%= text_field_tag :name, params[:name], :class => "form-control" %>
              <%= label_tag :expression, 'Expression', :class => 'control-label' %>
              <%= text_area_tag :expression, params[:expression], :class => "form-control" %>
              <%= label_tag :blacklist, 'Blacklist', :class => 'control-label' %>
              <%= check_box_tag :blacklist, params[:blacklist], :class => "form-control" %>
              <%= label_tag :source_group, 'Source group', :class => 'control-label' %>
              <%= text_field_tag :source_group, params[:source_group], :class => "form-control" %>
              <%= text_field_tag :log, @log_text, :class => "hide" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
           <%= submit_tag "Create", name: nil, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FOR SPLITTING -->
<div class="modal fade" id="splitModal" tabindex="-1" role="dialog" aria-labelledby="splitModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Choose character to split on:</h4>
      </div>
      <div class="modal-body">
        <lavel>CAAV</label>
        <input type="text" id="split">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success split-confirm" data-dismiss="modal">sucess</button>

      </div>
    </div>
  </div>
</div>
