<p id="notice"><%= notice %></p>

<h3>Processed logs</h3>

  <%= form_tag("/logs", method: "get") do %>
    <div id="search-input">
      <%= text_field_tag :search, params[:search], placeholder: 'search', class: "form-control left" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-default left", id: "search-submit" %>
  <% end %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th colspan='2'></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.text %></td>
        <td><%= link_to 'Show', log %></td>
      </tr>
    <% end %>
  </tbody>
</table>

