<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @log.text %>
</p>

<p>
  <strong>Label:</strong>
  <%= @log.label %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
