<p id="notice"><%= notice %></p>

<p>
  <strong><%= @log.text %></strong>
</p>
<p>
	<% pattern = Pattern.find_by_id(@log.pattern_id) %>
	<div id="edit-tag">
    <strong>TAGS:</strong>
    <% if pattern != nil %>
	    <% pattern.tags.each do |tag| %>
	      <div class="tag"><%= tag.text %></div>
	    <% end %>
    <% end %>
  </div>
</p>
<p>
	<strong>SOURCE:</strong>
	<% if pattern != nil %>
		<%= pattern.source %>
	<% end %>
</p>

<%= link_to 'Back', logs_path %>
